* {
    font-family:verdana,sans-serif;
    font-size  :14pt;
   }
   body {
    width     :700px;
    margin    :20px auto;
    background:#f8f8f8;
    border    :1px solid #888;
    scroll-behavior :smooth;
   }
   html {
    background:#fff
   }
   img {
    border            :1px solid black;
    margin-right      :15px;
    -moz-box-shadow   :2px 2px 2px #888;
    -webkit-box-shadow:2px 2px 2px #888;
    box-shadow        :2px 2px 2px #888;
   }
   .username {
    text-align :center;
    background :rgb(195, 115, 115);
    color      :rgb(249, 239, 237);
    font-family:helvetica;
    font-size  :20pt;
    padding    :4px;
   }
   .info {
    font-style :italic;
    margin     :40px 0px;
    text-align :center;
   }
   .center {
    text-align:center;
   }
   .subhead {
    font-weight:bold;
   }
   .taken, .error {
    color:rgb(176, 65, 65);
   }
   .available {
    color:rgb(9, 110, 9);
   }
   .whisper {
    font-style:italic;
    color     :#006600;
   }
   #logo {
    font-family:Georgia;
    font-weight:bold;
    font-style :italic;
    font-size  :90px;
    color      :rgb(220, 80, 80);
    }
   #TeamingUp {
    position          :relative;
    border            :0px;
    margin-left       :-6px;
    margin-right      :0px;
    top               :17px;
    -moz-box-shadow   :0px 0px 0px;
    -webkit-box-shadow:0px 0px 0px;
    box-shadow        :0px 0px 0px;
    width             : 100px;
    height            : auto;
   }
   #used {
    margin-top:50px;
   }

   .ui-input-text{
    display: inline-block;
   }

   .ui-input-btn{
    margin-left: auto;
    }

   p.author {
    font-style :italic;
    margin     :10px 0px;
    text-align :center;
    }

    .separator {
        border-top: 2px solid grey;
        margin: 20px 0;
    }